pipeline/Armando-Loop-002.json
{
	"name": "Armando-Loop-002",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ntv_customercluster",
					"value": {
						"value": "<fetch top=\"1\" >\n  <entity name=\"ntv_customercluster\" >\n    <attribute name=\"ntv_customerclusterid\" />\n    <filter>\n      <condition attribute=\"ntv_name\" operator=\"eq\" value=\"Base\" />\n    </filter>\n  </entity>\n</fetch>",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DynamicsSource",
						"query": {
							"value": "@variables('ntv_customercluster')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "Dynamics365Entity",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"ntv_customercluster": {
				"type": "String",
				"defaultValue": "fff"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-27T18:30:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}