pipeline/Az_B2B-B2C_Dev_PROD_COMM.json
{
	"name": "Az_B2B-B2C_Dev_PROD_COMM",
	"properties": {
		"activities": [
			{
				"name": "Check Start",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.ControlloSync (''',\nvariables('TableName'),\n''') as Rec FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "PROD_COMM_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Start",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@lessOrEquals(activity('Check Start').output.firstRow.Rec,0)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail Start",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Un altro processo sta leggendo i dati",
								"errorCode": "200"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Start SP",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[batchSync].[InizioSQL_ORACLEBatchSync]",
								"storedProcedureParameters": {
									"NomeFile": {
										"value": "",
										"type": "String"
									},
									"TabellaImport": {
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDbCrmStagingArea",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Finally SP",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Sql To Oracle",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[batchSync].[FineBatchSync]",
								"storedProcedureParameters": {
									"TabellaImport": {
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDbCrmStagingArea",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Sql To Oracle",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Start SP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "OracleSink",
									"writeBatchSize": 10000,
									"preCopyScript": "truncate table sa_d365_svil.PROD_COMM"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ntv_assetid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "ROW_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "createdon",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "CREATED",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "modifiedon",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "LAST_UPD",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DateTime.Now",
												"physicalType": "int"
											},
											"sink": {
												"name": "TIMESTAMP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ntv_pruductid.ntv_productnumber",
												"physicalType": "int"
											},
											"sink": {
												"name": "COD_PRODOTTO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ntv_producttype",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "TIPO_PRODOTTO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ntv_acquisitionchannelcode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "DESC_PRODOTTO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ntv_customerbuyerid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "DATA_PRODOTTO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ntv_customerbuyerid_entitytype",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "DATA_INIZIO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "createdonbehalfby",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "DATA_SCADENZA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "createdonbehalfby_entitytype",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "NUM_ORDINE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ntv_productpromotionid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "COD_ORD_ESTERNO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ntv_productpromotionid_entitytype",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "PREZZO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "ntv_partnerbuyerid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "NUM_COUPON",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "ntv_partnerbuyerid_entitytype",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "IDDATASRC",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "ntv_partnerholderid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "IDLOAD",
												"type": "Decimal"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Prod_Comm_SQLSource",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "PROD_COMM_OracleDB",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Start Oracle",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Start SP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT sa_d365_svil.iniziasync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "PROD_COMM_OracleDB",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "End Oracle",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Finally SP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT sa_d365_svil.finesync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "PROD_COMM_OracleDB",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Error Finally SP",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Sql To Oracle",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[batchSync].[ErrorBatchSync]",
								"storedProcedureParameters": {
									"TabellaImport": {
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"Errore": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDbCrmStagingArea",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Error End Oracle",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Error Finally SP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT sa_d365_svil.errore_sync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "PROD_COMM_OracleDB",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "PROD_COMM"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-04T10:34:30Z"
	}
}