pipeline/Az_B2B-B2C_Test_TrasferMTB.json
{
	"name": "Az_B2B-B2C_Test_TrasferMTB",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Csv To SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CODICE_CARTA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CODICE_CARTA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CODICE_CARTA_WEB",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CODICE_CARTA_WEB",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CODICE_CARTA_MIGRATA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CODICE_CARTA_MIGRATA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CODICE_CARTA_WEB_MIGRATA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CODICE_CARTA_WEB_MIGRATA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PNR_TECNICO_RESIDUO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PNR_TECNICO_ACQUISTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_ACQUISTO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DATA_DI_ACQUISTO",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "VALORE_NOM_LORDO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VALORE_NOMINALE_NETTO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "IMPORTO_SCONTO_LORDO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IMPORTO_SCONTO_LORDO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "IMPORTO_SCONTO_NETTO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IMPORTO_SCONTO_NETTO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "PERCENTUALE_SCONTO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PERCENTUALE_SCONTO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "VALORE_NOM_NETTO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VALORE_NOMINALE_LORDO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "PERC_IVA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PERCENTUALE_IVA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "IMPOSTA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IMPOSTA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "CANALE_DI_ACQUISTO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CANALE_DI_ACQUISTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TIPOLOGIA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TIPOLOGIA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "STATO_CARTA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "STATO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_SCADENZA_CARTA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DATA_SCADENZA_CARTA",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "RICHIESTA_FATTURA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RICHIESTA_FATTURA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DENOMINAZIONE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DENOMINAZIONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PARTITA_IVA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PARTITA_IVA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EMAIL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EMAIL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "INDIRIZZO_PART_TOPONOMASTICA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PARTICELLA_TOPO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "INDIRIZZO_STRADA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "INDIRIZZO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "INDIRIZZO_NUM_CIVICO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NUM_CIVICO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "INDIRIZZO_COMUNE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CITTA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "INDIRIZZO_PROVINCIA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PROVINCIA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "INDIRIZZO_CAP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CAP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "INDIRIZZO_NAZIONE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NAZIONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CONSENSO_MARKETING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CONSENSO_MARKETING",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CONSENSO_PROFILAZIONE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CONSENSO_PROFILAZIONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RESIDUO_CARTA_MIGRATA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RESIDUO_CARTA_MIGRATA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "CONSENSO_MARKETING_TERZE_PARTI",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CONSENSO_TERZE_PARTI",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TrasferMTB_TEST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Test_TrasferMTB_SQLSourceDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Error Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Csv To SQL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[ErrorBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errore": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy in Elaborated",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Csv To SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TrasferMTB_TEST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Test_TrasferMTB_Copy",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete file",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy in Elaborated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Test_TrasferMTB_Delete",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "Multitratta"
			},
			"Error": {
				"type": "String",
				"defaultValue": "@pipeline().RunId"
			}
		},
		"folder": {
			"name": "Az_IntegrazioneBatch_Test"
		},
		"annotations": []
	}
}