pipeline/Az_B2C-B2B_Test_AnagraficaAgenzie.json
{
	"name": "Az_B2C-B2B_Test_AnagraficaAgenzie",
	"properties": {
		"activities": [
			{
				"name": "Check Start",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.ControlloSync (''',\nvariables('TableName'),\n''') as Rec FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AnagraficaAziendeOracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Start",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@lessOrEquals(activity('Check Start').output.firstRow.Rec,0)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail Start",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Un altro processo sta leggendo i dati",
								"errorCode": "200"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Start SP",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[batchSync].[InizioSQL_ORACLEBatchSync]",
								"storedProcedureParameters": {
									"NomeFile": {
										"value": "",
										"type": "String"
									},
									"TabellaImport": {
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDbCrmStagingArea",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Finally SP",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Sql To Oracle",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[batchSync].[FineBatchSync]",
								"storedProcedureParameters": {
									"TabellaImport": {
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDbCrmStagingArea",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Sql To Oracle",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "copy to AggAnagraficaAgenzie2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "OracleSink",
									"writeBatchSize": 10000,
									"preCopyScript": "truncate table sa_d365_svil.Anagrafica_Aziende"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ROW_ID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ROW_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CREATED",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "CREATED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LAST_UPD",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "LAST_UPD",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TIMESTAMP",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "TIMESTAMP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IDDATASRC",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "IDDATASRC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IDLOAD",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "IDLOAD",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CODICE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "CODICE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NOME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "NOME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RAGIONE_SOCIALE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "RAGIONE_SOCIALE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CODICE_FISCALE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "CODICE_FISCALE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PARTITA_IVA",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "PARTITA_IVA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ONLUS_FLG",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "ONLUS_FLG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PIVA_GRUPPO_FLG",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "PIVA_GRUPPO_FLG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TIPO_CENTRO_FATT",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TIPO_CENTRO_FATT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_CENTRO_FATT",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "COD_CENTRO_FATT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_BUSIN_PART",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "COD_BUSIN_PART",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NAZIONALITA",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "NAZIONALITA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TIPO",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TIPO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TIPO_AGENZIA",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TIPO_AGENZIA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TIPO_CORPORATE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TIPO_CORPORATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DATA_ATTIVAZIONE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "DATA_ATTIVAZIONE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TEL_FISSO",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "TEL_FISSO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FAX",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "FAX",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EMAIL",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "EMAIL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EMAIL_PEC",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "EMAIL_PEC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_PERC_IVA",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "COD_PERC_IVA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_MTD_PAG",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "COD_MTD_PAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COD_TRM_PAG",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "COD_TRM_PAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FLG_MANDATO",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "FLG_MANDATO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ESITO_MANDATO",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ESITO_MANDATO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DATA_ESITO_MDT",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "DATA_ESITO_MDT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NETWORK",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "NETWORK",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CODICE_PADRE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "CODICE_PADRE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IND_LEGALE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "IND_LEGALE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IND_SEDE_OPT",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "IND_SEDE_OPT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "STATO",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "STATO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PNR_AGENCY_CRT",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "PNR_AGENCY_CRT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PNR_BARTER",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "PNR_BARTER",
												"type": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AnagraficaAziende_SQL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AnagraficaAziendeOracleDB",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Start Oracle",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Start SP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT sa_d365_svil.iniziasync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "AnagraficaAziendeOracleDB",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "End Oracle",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Finally SP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT sa_d365_svil.finesync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "AnagraficaAziendeOracleDB",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Dyn365_To_SQL",
							"type": "ExecuteSSISPackage",
							"dependsOn": [
								{
									"activity": "Start Oracle",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"packageLocation": {
									"packagePath": "SqlToDyn/NTV.Az.Batches.Dyn365.CC/Dev_AnagraficaAgenzie.dtsx",
									"type": "SSISDB"
								},
								"environmentPath": null,
								"connectVia": {
									"referenceName": "Italo-devtest-IntegrationRuntimeSSIS",
									"type": "IntegrationRuntimeReference"
								},
								"loggingLevel": "Basic"
							}
						},
						{
							"name": "copy to AggAnagraficaAgenzie2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Dyn365_To_SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[batchSync].[copyToAggAnagraficaAgenzie2]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDbCrmStagingArea",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Error Finally SP",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Dyn365_To_SQL",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "copy to AggAnagraficaAgenzie2",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Sql To Oracle",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[batchSync].[ErrorBatchSync]",
								"storedProcedureParameters": {
									"TabellaImport": {
										"value": {
											"value": "@variables('TableName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"Errore": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDbCrmStagingArea",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Error End Oracle",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Error Finally SP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT sa_d365_svil.errore_sync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "AnagraficaAziendeOracleDB",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "Anagrafica_Aziende"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-04T10:34:30Z"
	}
}