pipeline/Az_Billing_Test_EstrattoContoAgency_Oracle.json
{
	"name": "Az_Billing_Test_EstrattoContoAgency_Oracle",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "da db a Dyn365",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "da db a Dyn365",
				"type": "ExecuteSSISPackage",
				"dependsOn": [
					{
						"activity": "Oracle To Sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"packageLocation": {
						"packagePath": "NTV.Az.Batches.Dyn365.CC_Test/NTV.Az.Batches.Dyn365.CC_Test/Test_EstrattiConto_Agency_Oracle.dtsx",
						"type": "SSISDB"
					},
					"environmentPath": null,
					"connectVia": {
						"referenceName": "Italo-devtest-IntegrationRuntimeSSIS",
						"type": "IntegrationRuntimeReference"
					},
					"loggingLevel": "Verbose"
				}
			},
			{
				"name": "Oracle To Sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table batchSync.Estratti_Conto_Agency",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "INTEGRAZIONE_ID",
									"type": "String"
								},
								"sink": {
									"name": "INTEGRAZIONE_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NUM_DOCUMENTO",
									"type": "String"
								},
								"sink": {
									"name": "NUM_DOCUMENTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TIPO_DOCUMENTO",
									"type": "String"
								},
								"sink": {
									"name": "TIPO_DOCUMENTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_CREAZIONE_DOC",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_CREAZIONE_DOC",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_EMISSIONE_DOC",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_EMISSIONE_DOC",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "DATA_CREAZIONE_PDF",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_CREAZIONE_PDF",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "DATA_INIZIO_COMPETENZA",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_INIZIO_COMPETENZA",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "DATA_FINE_COMPETENZA",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_FINE_COMPETENZA",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "DATA_MODIFICA",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_MODIFICA",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "IMPORTO_LORDO",
									"type": "Decimal"
								},
								"sink": {
									"name": "IMPORTO_LORDO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "CODICE_ADV",
									"type": "String"
								},
								"sink": {
									"name": "CODICE_ADV",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RAG_SOC",
									"type": "String"
								},
								"sink": {
									"name": "RAG_SOC",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "P_IVA",
									"type": "String"
								},
								"sink": {
									"name": "P_IVA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CODFICE_FISCALE",
									"type": "String"
								},
								"sink": {
									"name": "CODFICE_FISCALE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NAZIONE",
									"type": "String"
								},
								"sink": {
									"name": "NAZIONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CITTA",
									"type": "String"
								},
								"sink": {
									"name": "CITTA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PROVINCIA",
									"type": "String"
								},
								"sink": {
									"name": "PROVINCIA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TIPO_STRADA",
									"type": "String"
								},
								"sink": {
									"name": "TIPO_STRADA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NOME_STRADA",
									"type": "String"
								},
								"sink": {
									"name": "NOME_STRADA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NUMERO_CIVICO",
									"type": "String"
								},
								"sink": {
									"name": "NUMERO_CIVICO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CODICE_POSTALE",
									"type": "String"
								},
								"sink": {
									"name": "CODICE_POSTALE",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Test_OracleDBPropertyEstrattoContoAgency",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Test_OracleToSqlEstrattoContoAgencyProperty",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Error Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Oracle To Sql",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "da db a Dyn365",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[ErrorBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errore": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "Estratti_Conto_Agency"
			}
		},
		"folder": {
			"name": "Az_IntegrazioneBatch_Test"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-06T14:48:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}