pipeline/Az_Billing_Dev_FattureADV_Oracle.json
{
	"name": "Az_Billing_Dev_FattureADV_Oracle",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDbCrmStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "da db a Dyn365",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDbCrmStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "da db a Dyn365",
				"type": "ExecuteSSISPackage",
				"dependsOn": [
					{
						"activity": "Oracle To Sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"packageLocation": {
						"packagePath": "SqlToDyn/NTV.Az.Batches.Dyn365.CC/Dev_Billing_ADV_Oracle.dtsx",
						"type": "SSISDB"
					},
					"environmentPath": null,
					"connectVia": {
						"referenceName": "Italo-devtest-IntegrationRuntimeSSIS",
						"type": "IntegrationRuntimeReference"
					},
					"loggingLevel": "Verbose"
				}
			},
			{
				"name": "Oracle To Sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CODICE_FATTURA",
									"type": "String"
								},
								"sink": {
									"name": "CODICE_FATTURA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CODICE_ADV",
									"type": "String"
								},
								"sink": {
									"name": "CODICE_ADV",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CODICE_ADV_TRG_INC",
									"type": "String"
								},
								"sink": {
									"name": "CODICE_ADV_TRG_INC",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CODICE_FISCALE",
									"type": "String"
								},
								"sink": {
									"name": "CODICE_FISCALE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_APPROVAZIONE",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_APPROVAZIONE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATA_CALCOLO",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_CALCOLO",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATA_COMPLETAMENTO",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_COMPLETAMENTO",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATA_FATTURA",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_FATTURA",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATA_STAMPA_CSV",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_STAMPA_CSV",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATA_MODIFICA",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_MODIFICA",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DESCRIZIONE",
									"type": "String"
								},
								"sink": {
									"name": "DESCRIZIONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EMAIL_INT",
									"type": "String"
								},
								"sink": {
									"name": "EMAIL_INT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TIPO_ERRORE_SDI",
									"type": "String"
								},
								"sink": {
									"name": "TIPO_ERRORE_SDI",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_TRASMISSIONE_SDI",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_TRASMISSIONE_SDI",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATA_ESITO_SDI",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATA_ESITO_SDI",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CODICE_ERRORE_SDI",
									"type": "String"
								},
								"sink": {
									"name": "CODICE_ERRORE_SDI",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ESITO_SDI",
									"type": "String"
								},
								"sink": {
									"name": "ESITO_SDI",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "STATO_SDI",
									"type": "String"
								},
								"sink": {
									"name": "STATO_SDI",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "INIZIO_PERIODO_COMPETENZA",
									"type": "DateTime"
								},
								"sink": {
									"name": "INIZIO_PERIODO_COMPETENZA",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FINE_PERIODO_COMPETENZA",
									"type": "DateTime"
								},
								"sink": {
									"name": "FINE_PERIODO_COMPETENZA",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FLG_GRUPPO_IVA",
									"type": "String"
								},
								"sink": {
									"name": "FLG_GRUPPO_IVA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IMPORTO_IVA",
									"type": "Decimal"
								},
								"sink": {
									"name": "IMPORTO_IVA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "IMPORTO_LORDO",
									"type": "Decimal"
								},
								"sink": {
									"name": "IMPORTO_LORDO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "IMPORTO_NETTO",
									"type": "Decimal"
								},
								"sink": {
									"name": "IMPORTO_NETTO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "NUMERO_FATTURA",
									"type": "String"
								},
								"sink": {
									"name": "NUMERO_FATTURA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FLG_ONLUS",
									"type": "String"
								},
								"sink": {
									"name": "FLG_ONLUS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PIVA_INT",
									"type": "String"
								},
								"sink": {
									"name": "PIVA_INT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PERCENTUALE_IVA",
									"type": "Decimal"
								},
								"sink": {
									"name": "PERCENTUALE_IVA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "RAG_SOCIALE_INT",
									"type": "String"
								},
								"sink": {
									"name": "RAG_SOCIALE_INT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TIPOLOGIA",
									"type": "String"
								},
								"sink": {
									"name": "TIPOLOGIA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TOTALE_FATTURATO",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOTALE_FATTURATO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "TOT_VENDUTO",
									"type": "Decimal"
								},
								"sink": {
									"name": "TOT_VENDUTO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "NAZIONE",
									"type": "String"
								},
								"sink": {
									"name": "NAZIONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CITTA",
									"type": "String"
								},
								"sink": {
									"name": "CITTA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PROVINCIA",
									"type": "String"
								},
								"sink": {
									"name": "PROVINCIA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TIPO_STRADA",
									"type": "String"
								},
								"sink": {
									"name": "TIPO_STRADA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NOME_STRADA",
									"type": "String"
								},
								"sink": {
									"name": "NOME_STRADA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NUMERO_CIVICO",
									"type": "String"
								},
								"sink": {
									"name": "NUMERO_CIVICO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CODICE_POSTALE",
									"type": "String"
								},
								"sink": {
									"name": "CODICE_POSTALE",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleDBPropertyADV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OracleToSqlADVProperty",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "Fatture_Adv_Com"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-06T12:38:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}