pipeline/Az_CC_Test_PROD_COMM_SAP_IBO.json
{
	"name": "Az_CC_Test_PROD_COMM_SAP_IBO",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "batchSync.InizioSQL_ORACLEBatchSync",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Nuovo IDLOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "insert into [dev].[ID_LOAD]\nselect isnull(max(Load_Number),0)+1 from [dev].[ID_LOAD];\nselect max(Load_Number) id from [dev].[ID_LOAD];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlTest_SAP_IBO",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Aggiorna HystoryLog",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Nuovo IDLOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('insert into dev.History_Log (IDDataSrc,IDLoad,SAStartDate,SAStatus) values (32,',\nactivity('Nuovo IDLOAD').output.firstRow.Id,\n',GETUTCDATE(),1);select @@IDENTITY as idHy')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlTest_SAP_IBO",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Sql To Sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Aggiorna HystoryLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT ROW_ID,CREATED,LAST_UPD,TIMESTAMP,COD_PRODOTTO,TIPO_PRODOTTO,DESC_PRODOTTO,DATA_PRODOTTO,DATA_INIZIO,DATA_SCADENZA,NUM_ORDINE,PREZZO,NUM_COUPON,IDDATASRC,COD_ORD_ESTERNO,',\nactivity('Nuovo IDLOAD').output.firstRow.Id,\n' IDLOAD ',\n'FROM [batchSync].[v_PROD_COMM] order by CREATED,ROW_ID')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"validateDataConsistency": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorage_Test",
								"type": "LinkedServiceReference"
							},
							"path": "batchfiles/Errors"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ROW_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ROW_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATED",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LAST_UPD",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LAST_UPD",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TIMESTAMP",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TIMESTAMP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "COD_PRODOTTO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COD_PRODOTTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TIPO_PRODOTTO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TIPO_PRODOTTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DESC_PRODOTTO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DESC_PRODOTTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_PRODOTTO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DATA_PRODOTTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_INIZIO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DATA_INIZIO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_SCADENZA",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DATA_SCADENZA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NUM_ORDINE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NUM_ORDINE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "COD_ORD_ESTERNO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "COD_ORD_ESTERNO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PREZZO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 38
								},
								"sink": {
									"name": "PREZZO",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "NUM_COUPON",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NUM_COUPON",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "IDDATASRC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IDDATASRC",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "IDLOAD",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IDLOAD",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "PROD_COMM_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlTest_Prod_Comm_SAP_IBO",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "HystoryLog Fine",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Error Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "HystoryLog Errore",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[ErrorBatchSync]",
					"storedProcedureParameters": {
						"Errore": {
							"value": {
								"value": "@concat(pipeline().RunId,' ',\nactivity('Sql To Sql').output.errors[0].Message)",
								"type": "Expression"
							},
							"type": "String"
						},
						"Modulo": {
							"value": "Sql To Sql",
							"type": "String"
						},
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HystoryLog Fine",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('update dev.History_Log set SAStatus=2, SAEndDate=GETUTCDATE() output inserted.idhistory where IDHistory=',\nactivity('Aggiorna HystoryLog').output.firstRow.idHy)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlTest_SAP_IBO",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "HystoryLog Errore",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Sql",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('update dev.History_Log set SAStatus=3, SAEndDate=GETUTCDATE() where IDHistory=',\nactivity('Aggiorna HystoryLog').output.firstRow.idHy,\n' insert into dev.Error_Log (IDError,IDDataSrc,ErrorDetail,ErrorDate,IDLoad) values (3,32,',\n'''','Errore Pipeline Az_CC_Test_PROD_COMM_SAP_IBO',\n''',GETUTCDATE(),',\nactivity('Nuovo IDLOAD').output.firstRow.Id,\n') select @@identity')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlTest_SAP_IBO",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "PROD_COMM"
			}
		},
		"folder": {
			"name": "Az_IntegrazioneBatch_Test"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-04T10:34:30Z"
	}
}