pipeline/Az_CC_Test_Testata_PNR_SAP_IBO.json
{
	"name": "Az_CC_Test_Testata_PNR_SAP_IBO",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "batchSync.InizioSQL_ORACLEBatchSync",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Nuovo IDLOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "insert into [dbo].[ID_LOAD]\nselect isnull(max(Load_Number),0)+1 from [dbo].[ID_LOAD];\nselect max(Load_Number) id from [dbo].[ID_LOAD];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlTest_SAP_IBO",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Aggiorna HystoryLog",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Nuovo IDLOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('insert into dbo.History_Log (IDDataSrc,IDLoad,SAStartDate,SAStatus) values (1,',\nactivity('Nuovo IDLOAD').output.firstRow.Id,\n',GETUTCDATE(),1);select @@IDENTITY as idHy')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlTest_SAP_IBO",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Sql To Sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Aggiorna HystoryLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT Row_ID,Created,TimeStamp,Last_UPD,PNR,Num_Itinerari,Num_Passeggeri,Costo_Totale,Stato_Biglietto,Data_Creazione,Data_Modifica,Balance_Due,Created_Org,Created_Loc,Created_Dom,Created_Agent,Modified_Org,Modified_Loc,Modified_Dom,Modified_Agent,Received_By,PNR_Padre,IDDataSRC,',\nactivity('Nuovo IDLOAD').output.firstRow.Id,\n' IDLOAD ',\n'FROM [batchSync].[v_Testata_PNR] order by Data_Creazione,Row_ID')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorage_Test",
								"type": "LinkedServiceReference"
							},
							"path": "batchfiles/Batch/Testata_PNR_SAP_IBO"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Row_ID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "ROW_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Created",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CREATED",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Last_UPD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_UPD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TimeStamp",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TIMESTAMP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PNR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PNR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Num_Itinerari",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NUM_ITINERARI",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Num_Passeggeri",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NUM_PASSEGGERI",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Costo_Totale",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 18
								},
								"sink": {
									"name": "COSTO_TOTALE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 7,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "Stato_Biglietto",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "STATO_BIGLIETTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Data_Creazione",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DATA_CREAZIONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Data_Modifica",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DATA_MODIFICA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Balance_Due",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 18
								},
								"sink": {
									"name": "BALANCE_DUE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 7,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "Created_Org",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CREATED_ORG",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Created_Loc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CREATED_LOC",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Created_Dom",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CREATED_DOM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Created_Agent",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CREATED_AGENT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Modified_Org",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MODIFIED_ORG",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Modified_Loc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MODIFIED_LOC",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Modified_Dom",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MODIFIED_DOM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Modified_Agent",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MODIFIED_AGENT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Received_By",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RECEIVED_BY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PNR_Padre",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PNR_PADRE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IDDataSRC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IDDATASRC",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "IDLOAD",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IDLOAD",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Testata_PNR_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlTest_DS_SAP_IBO",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "HystoryLog Fine",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Error Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "HystoryLog Errore",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[ErrorBatchSync]",
					"storedProcedureParameters": {
						"Errore": {
							"value": {
								"value": "@concat(pipeline().RunId,' ',\nactivity('Sql To Sql').output.errors[0].Message)",
								"type": "Expression"
							},
							"type": "String"
						},
						"Modulo": {
							"value": "Sql To Sql",
							"type": "String"
						},
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HystoryLog Fine",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('update dbo.History_Log set SAStatus=2, SAEndDate=GETUTCDATE() output inserted.idhistory where IDHistory=',\nactivity('Aggiorna HystoryLog').output.firstRow.idHy)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlTest_SAP_IBO",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "HystoryLog Errore",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Sql",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('update dbo.History_Log set SAStatus=3, SAEndDate=GETUTCDATE() where IDHistory=',\nactivity('Aggiorna HystoryLog').output.firstRow.idHy,\n' insert into dbo.Error_Log (IDError,IDDataSrc,ErrorDetail,ErrorDate,IDLoad) values (3,1,',\n'''','Errore Pipeline Az_CC_Test_Testata_PNR_SAP_IBO',\n''',GETUTCDATE(),',\nactivity('Nuovo IDLOAD').output.firstRow.Id,\n') select @@identity')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlTest_SAP_IBO",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "Testata_PNR"
			}
		},
		"folder": {
			"name": "Az_IntegrazioneBatch_Test"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-04T10:34:30Z"
	}
}