pipeline/CRMClusterCorporate_Old.json
{
	"name": "CRMClusterCorporate_Old",
	"properties": {
		"activities": [
			{
				"name": "Table AggClusterCorporate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "csvCRMClusterCorporate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select distinct Cluster from batchSync.AggClusterCorporate",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AggClusterCorporate",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach AggClusterCorporate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Table AggClusterCorporate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Table AggClusterCorporate').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookup Dyn365",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CreateQuery",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DynamicsSource",
									"query": {
										"value": "@variables('QueryDyn365')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "Dynamics365Entity",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "sp update",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup Dyn365",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[batchSync].[UpdateTablesSync]",
								"storedProcedureParameters": {
									"ColumnKeyName": {
										"value": "Cluster",
										"type": "String"
									},
									"ColumnValueName": {
										"value": "ntv_customerClusterId",
										"type": "String"
									},
									"FieldKey": {
										"value": {
											"value": "@variables('ntv_name')",
											"type": "Expression"
										},
										"type": "String"
									},
									"FieldValue": {
										"value": {
											"value": "@activity('Lookup Dyn365').output.firstrow.ntv_customerclusterid",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": "batchSync.AggClusterCorporate",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDbCrmStagingArea",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ClusterItem",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ntv_name",
								"value": {
									"value": "@item().Cluster",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CreateQuery",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ClusterItem",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "QueryDyn365",
								"value": {
									"value": "@concat('<fetch top=\"1\" >\n  <entity name=\"ntv_customercluster\" >\n    <attribute name=\"ntv_customerclusterid\" />\n    <filter>\n      <condition attribute=\"ntv_name\" operator=\"eq\" value=\"'\n,variables('ntv_name')\n,'\"/>\n    </filter>\n  </entity>\n</fetch>')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "csvCRMClusterCorporate",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CODICE_CORPORATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Codice_corporate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CLUSTER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Cluster",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_AGGIORNAMENTO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Data_Aggiornamento",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CRMClusterCorporateProperty",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CRMClusterCorporateDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": "AggClusterClienti",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDbCrmStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy in Elaborated",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "csvCRMClusterCorporate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CRMClusterCorporateCopyFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CRMClusterCorporateMoveFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete file",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy in Elaborated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CRMClusterCorporateCopyFile",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "da db a Dyn365",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": "AggClusterCorporate",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDbCrmStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "da db a Dyn365",
				"type": "ExecuteSSISPackage",
				"dependsOn": [
					{
						"activity": "ForEach AggClusterCorporate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"packageLocation": {
						"packagePath": "SqlToDyn/NTV.Az.Batches.Dyn365.CC/CRMClusterCorporate.dtsx",
						"type": "SSISDB"
					},
					"environmentPath": null,
					"connectVia": {
						"referenceName": "Italo-devtest-IntegrationRuntimeSSIS",
						"type": "IntegrationRuntimeReference"
					},
					"loggingLevel": "Verbose"
				}
			},
			{
				"name": "Update FileCSV",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[UpdateBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": {
								"value": "@activity('Delete file').output.fileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TabellaImport": {
							"value": "AggClusterCorporate",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDbCrmStagingArea",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ntv_name": {
				"type": "String"
			},
			"QueryDyn365": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-01T13:25:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}