pipeline/ImpCampaign_TracciamentoEvolutionItalo.json
{
	"name": "ImpCampaign_TracciamentoEvolutionItalo",
	"properties": {
		"activities": [
			{
				"name": "Evolution Consumers Tracciamento File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "EvolutionConsumerTracciamentoFile_csv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachTracciamento",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Evolution Consumers Tracciamento File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Evolution Consumers Tracciamento File').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@startswith(item().name,variables('InizioNomeFile'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "csvImpCampaign_Tracciamento",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Start SP",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFolderPath": "crm_evolution/italo_impresa",
													"wildcardFileName": "@item().name",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings",
													"skipLineCount": 1
												}
											},
											"sink": {
												"type": "SqlServerSink",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "Delivery_ID",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "Email_Address",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 3
														},
														"sink": {
															"name": "Subject",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 4
														},
														"sink": {
															"name": "Event_Date",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 5
														},
														"sink": {
															"name": "Event_Type",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 6
														},
														"sink": {
															"name": "Url",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 7
														},
														"sink": {
															"name": "Codice_Cliente",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 8
														},
														"sink": {
															"name": "Message_ID",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 9
														},
														"sink": {
															"name": "Campaign_ID",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 10
														},
														"sink": {
															"name": "Tracking_ID",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"physicalType": "String",
															"ordinal": 11
														},
														"sink": {
															"name": "Transazionale",
															"type": "String",
															"physicalType": "varchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ImpCampaign_TracciamentoProperty",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ImpCampaign_TracciamentoDB",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Start SP",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[batchSync].[InizioBatchSync]",
											"storedProcedureParameters": {
												"NomeFile": {
													"value": "",
													"type": "String"
												},
												"TabellaImport": {
													"value": {
														"value": "@variables('TableName')",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDbCrmStagingArea",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Copy in Elaborated",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "csvImpCampaign_Tracciamento",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFolderPath": "crm_evolution/italo_impresa",
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ImpCampaign_InvioCopyFile",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ImpCampaign_InvioMovieFile",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Delete file",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Copy in Elaborated",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "ImpCampaign_InvioEvolutionItaloDelete",
												"type": "DatasetReference"
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Finally SP",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "da db a Dyn365",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[batchSync].[FineBatchSync]",
											"storedProcedureParameters": {
												"TabellaImport": {
													"value": {
														"value": "@variables('TableName')",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDbCrmStagingArea",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "da db a Dyn365",
										"type": "ExecuteSSISPackage",
										"dependsOn": [
											{
												"activity": "csvImpCampaign_Tracciamento",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"packageLocation": {
												"packagePath": "SqlToDyn/NTV.Az.Batches.Dyn365.CC/Dev_ImpCampaign_Invio.dtsx",
												"type": "SSISDB"
											},
											"environmentPath": null,
											"connectVia": {
												"referenceName": "Italo-devtest-IntegrationRuntimeSSIS",
												"type": "IntegrationRuntimeReference"
											},
											"loggingLevel": "Verbose"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "AggImpCampaign_Tracciamento"
			},
			"InizioNomeFile": {
				"type": "String",
				"defaultValue": "BusinessCRMevolution_trackinglog_"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-01T13:12:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}