pipeline/KPI_BIDYN_03_TEST.json
{
	"name": "KPI_BIDYN_03_TEST",
	"properties": {
		"description": "Flusso che legge da Oracle e scrive su DB Sql di Staging area",
		"activities": [
			{
				"name": "BIDYN03-To-Customer03",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE [ntv].[DynInd_Customer_03]",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CODICE_CLIENTE",
									"type": "String"
								},
								"sink": {
									"name": "CustomerCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TRATTA_B",
									"type": "String"
								},
								"sink": {
									"name": "Journey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NUMERO_VIAGGI",
									"type": "Decimal"
								},
								"sink": {
									"name": "TripCounter",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MESE",
									"type": "Decimal"
								},
								"sink": {
									"name": "Month",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ANNO",
									"type": "Decimal"
								},
								"sink": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Kpi_BIDYN_03",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DynInd_Customer_03",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Start SP",
				"description": "Scrive record di log su tabella:\nbatchSync.Sync",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"NomeFile": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Test_StagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End Fail SP",
				"description": "Scrive record di log su tabella:\nbatchSync.Sync",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "BIDYN03-To-Customer03",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[ErrorBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errore": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"Modulo": {
							"value": "Copy Data Sql To Oracle",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Test_StagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End Success SP",
				"description": "Scrive record di log su tabella:\nbatchSync.Sync",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "BIDYN03-To-Customer03",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Test_StagingArea",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "DynInd_Customer_03"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch_Oracle_Test"
		},
		"annotations": []
	}
}