pipeline/MassiveImport_Handler.json
{
	"name": "MassiveImport_Handler",
	"properties": {
		"activities": [
			{
				"name": "GetBlobMetadata",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.BlobStorageURL,'/',pipeline().parameters.FolderPath,'/',pipeline().parameters.FileName, '?' ,variables('SASTokenURL'))",
						"type": "Expression"
					},
					"method": "GET",
					"disableCertValidation": true
				}
			},
			{
				"name": "Set Category Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetBlobMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MetadataType",
					"value": {
						"value": "@activity('GetBlobMetadata').output.ADFWebActivityResponseHeaders['x-ms-meta-Category']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Import Type Switch",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set Category Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@toUpper(trim(variables('MetadataType')))",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "AMMINISTRAZIONEPROMOCODE"
						}
					]
				}
			},
			{
				"name": "Write Result File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Import Type Switch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"metadata": [
								{
									"name": "DisplayName",
									"value": {
										"value": "@variables('NewFile_DisplayName')",
										"type": "Expression"
									}
								},
								{
									"name": "Category",
									"value": {
										"value": "@variables('NewFile_Category')",
										"type": "Expression"
									}
								},
								{
									"name": "CategoryCode",
									"value": {
										"value": "@variables('NewFile_CategoryCode')",
										"type": "Expression"
									}
								},
								{
									"name": "link",
									"value": "null"
								}
							]
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "MassiveImports_SQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@activity('Import Type Switch').output.TableName",
								"type": "Expression"
							},
							"TableSchema": {
								"value": "@activity('Import Type Switch').output.TableSchema",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "MassiveImports_StorageAccount",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@replace(pipeline().parameters.FileName, '.csv','Report.csv')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"BlobStorageURL": {
				"type": "string"
			},
			"FolderPath": {
				"type": "string"
			},
			"FileName": {
				"type": "string"
			}
		},
		"variables": {
			"MetadataType": {
				"type": "String"
			},
			"SASTokenURL": {
				"type": "String",
				"defaultValue": "sp=r&st=2022-02-01T12:03:40Z&se=2027-02-01T20:03:40Z&spr=https&sv=2020-08-04&sr=c&sig=jy%2BiJ6O%2FIOtMMy56WRmIifwB8y6%2FTgdl%2Bt32%2FJMMEiM%3D"
			},
			"NewFile_DisplayName": {
				"type": "String"
			},
			"NewFile_Category": {
				"type": "String"
			},
			"NewFile_CategoryCode": {
				"type": "String"
			}
		},
		"folder": {
			"name": "D365_MassiveImports"
		},
		"annotations": []
	}
}