pipeline/Mig_1_StartCopy.json
{
	"name": "Mig_1_StartCopy",
	"properties": {
		"activities": [
			{
				"name": "GetId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT  ID\nFROM MIG_SA.M_SYNC_LOG\nWHERE STATO_SCRITTURA = 'Completato' \nAND DT_FINE_SCRITTURA IS NOT NULL\nAND STATO_LETTURA <> 'Completato' \nUNION ALL\nSELECT 100000000 AS ID FROM DUAL\nORDER BY ID",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Mig_OracleSyncLog",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('GetId').output.firstRow.ID, 100000000))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Start Primary",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Mig_CopyPrimary",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchId": {
										"value": "@activity('GetId').output.firstRow.ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Trasfrormations",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('GetId').output.firstRow.ID, 100000000))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Start Trasformations",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Mig_Trasformations",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ID": {
										"value": "@activity('GetId').output.firstRow.ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "UpdateID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Trasfrormations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "UPDATE [log].[CopyResults]\nSET BATCHID = 1\nWHERE BATCHID = @activity('GetId').output.firstRow.ID\n\nSELECT BATCHID FROM [log].[CopyResults]\nWHERE BATCHID = @activity('GetId').output.firstRow.ID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Mig_AzureCopyConfig",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "Migration"
		},
		"annotations": []
	}
}