pipeline/Mig_2_iterazione_allegatiSR.json
{
	"name": "Mig_allegatiSR",
	"properties": {
		"activities": [
			{
				"name": "Vista dei file non importati",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT SR_FileName,filename\nFROM [datav].[AllegatiSR]\nWHERE IsImported=0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Mig_SR_Allegati",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Vista dei file non importati",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Vista dei file non importati').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().Filename,pipeline().parameters.ParamPipeline)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1_copy1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Set variable1_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "@{'staging-incident'}//@{'*'}"
											},
											{
												"name": "Destination",
												"value": "@{'incident'}//@{replace(replace(string(variables('FILENAME_COMPLETO')),'[{\"NOMEFILE\":\"' , ''),'\"}]','')}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings",
													"metadata": [
														{
															"name": "Category",
															"value": "Documentazione Generica"
														}
													]
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Mig_staging_incident",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@pipeline().parameters.ParamPipeline",
														"type": "Expression"
													},
													"FileSource": "staging-incident"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Mig_Allegato_Destination",
												"type": "DatasetReference",
												"parameters": {
													"DestinationFile": "incident",
													"FileName": {
														"value": "@replace(replace(string(variables('FILENAME_COMPLETO')),'[{\"NOMEFILE\":\"' , ''),'\"}]','')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Set variable1_copy1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FILENAME_COMPLETO",
											"value": {
												"value": "@item().SR_FileName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ParamPipeline": {
				"type": "string"
			}
		},
		"variables": {
			"FILENAME_COMPLETO": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Migration"
		},
		"annotations": []
	}
}