pipeline/Mig_CopySecondary.json
{
	"name": "Mig_CopySecondary",
	"properties": {
		"activities": [
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Mig_OracleTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Mig_AzureTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log OK",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[log].[pr_WriteCopyResults]",
					"storedProcedureParameters": {
						"Tabella": {
							"value": {
								"value": "@pipeline().parameters.DestinationTable",
								"type": "Expression"
							},
							"type": "String"
						},
						"NumRecord": {
							"value": {
								"value": "@activity('Copy data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Esito": {
							"value": "OK",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Mig_STGAzure",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete ID Copy -      Log KO",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[log].[pr_WriteCopyResults]",
					"storedProcedureParameters": {
						"Tabella": {
							"value": {
								"value": "@pipeline().parameters.DestinationTable",
								"type": "Expression"
							},
							"type": "String"
						},
						"NumRecord": {
							"value": {
								"value": "@activity('Copy data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Esito": {
							"value": "KO",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Mig_STGAzure",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"SourceSchema": {
				"type": "string"
			},
			"SourceTable": {
				"type": "string"
			},
			"DestinationSchema": {
				"type": "string"
			},
			"DestinationTable": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Migration"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-10T19:07:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}