pipeline/Prova Gestione Errori.json
{
	"name": "Prova Gestione Errori",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select concat('aaaaaa333333333333333333333333333333333333333333aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',Codice) Chiave, Cluster Valore from [batchSync].[AggClusterClienti]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Chiave",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Chiave",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Valore",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Valore",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlDev",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlDev",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_GestioneErroriPipeline]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Copy data1').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@{activity('Copy data1').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@concat(activity('Copy data1').error.message,'failureType:',activity('Copy data1').error.failureType)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Dev_StagingArea",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}