pipeline/W_AC_MANDATO_D365_DS_TEST.json
{
	"name": "W_AC_MANDATO_D365_DS_TEST",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Test_StagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "End Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Test_StagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sql To Oracle",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Ultima Sinc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT Id, ntv_validityenddate, ntv_validitystartdate, ntv_mandatesubscriptiondate, ntv_bankbic, ntv_causal, ntv_subscriberfiscalnumber, ntv_debitaccountiban, ntv_sddmandateid, ntv_accountid, ntv_mandatesigningplace, ntv_collectiontypecode, ntv_sequencetypecode, ntv_debtorname  FROM   ntv_ntv_sddmandate WHERE ntv_ntv_sddmandate.modifiedon>',\n'''',activity('Ultima Sinc').output.firstRow.Rec,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000,
						"preCopyScript": "truncate table sa_d365_test.W_AC_MANDATO_D365_DS"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "INTEGRAZIONE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_validityenddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_SCADENZA",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_validitystartdate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_INIZIO_VALIDITA",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_mandatesubscriptiondate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_SOTTOSCRIZIONE_MANDATO",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_bankbic",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BIC_BANCA_TITOLARE_CC_ADDE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_causal",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "INFORMAZIONI_CAUSALE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_subscriberfiscalnumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODICE_FISCALE_SOTTOSCRITTORE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_debitaccountiban",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IBAN_CONTO_DEBITORE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_sddmandateid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "IDENTIFICATIVO_DEL_MANDATO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_accountid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ID_PARTNER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_mandatesigningplace",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LUOGO_SOTTOSCRIZIONE_MANDATO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_debtorname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOME_DEL_DEBITORE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_collectiontypecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TIPO_INCASSO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_sequencetypecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TIPO_SEQUENZA_SDD",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TEST_W_AC_MANDATO_D365_DS_SQLSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TEST_W_AC_MANDATO_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Start Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_test.iniziasync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TEST_W_AC_MANDATO_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_test.finesync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TEST_W_AC_MANDATO_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Ultima Sinc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select dt_inizio_scrittura as Rec from sinc_log where tipo = ','''',\nvariables('TableName'),\n'''',' and UPPER(stato_lettura)=',\n'''',\n'COMPLETATO',\n'''',\n'and ROWNUM <=1 union select ',\n'''',\n'2010-01-01',\n'''',\n' as Rec FROM sinc_log order by Rec desc')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TEST_W_AC_MANDATO_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Error End Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Oracle",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_test.errore_sync (''',\nvariables('TableName'),\n''',''',variables('Error'),''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "PhysicalPartitionsOfTable",
						"partitionSettings": {
							"partitionNames": []
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TEST_W_AC_MANDATO_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Error Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error End Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[ErrorBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errore": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"Modulo": {
							"value": "Copy Data Sql To Oracle",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Test_StagingArea",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "W_AC_MANDATO_D365_DS"
			},
			"Error": {
				"type": "String",
				"defaultValue": "@pipeline().RunId"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch_Oracle_Test"
		},
		"annotations": []
	}
}