pipeline/W_ADV_CORP_D365_DS.json
{
	"name": "W_ADV_CORP_D365_DS",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "End Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sql To Oracle",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000,
						"preCopyScript": "truncate table sa_d365_svil.W_ADV_CORP_D365_DS"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CODICE_PARTNER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_promotorinvitation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DESCRIZIONE_PROMOCODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_agencytypecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TIPO_AGENZIA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_segmentcode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SEGMENTO_MERCATO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_vatcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PIVA_CFS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_iata",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODICE_IATA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_registrationchannelcode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CODICE_REGISTRAZIONE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_iscashback",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "MID_BACKOFFICE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_lodgecardholder",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOME_HOLDING",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DESCRIZIONE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "emailaddress1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EMAIL_CONTATTO_AGENZIA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "fax",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FAX_CONTATTO_AGENZIA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "telephone1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TEL_FISSO_CONTATTO_AGENZIA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_abicab",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ABICAB",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_cin",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CIN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_iban",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IBAN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_bankname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOME_BANCA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "accountnumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ACCOUNT_NUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_swift",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SWIFT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_paymentmethodcode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "METODO_PAGAMENTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_ivapercentage",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PERCENTUALE_IVA",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ntv_paymentwaittimecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TERMINE_PAGAMENTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "marketcap",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 38
								},
								"sink": {
									"name": "CAP_SEDE_LEGALE",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "W_ADV_CORP_D365_DS_SQLSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "W_ADV_CORP_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Start Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.iniziasync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_ADV_CORP_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.finesync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_ADV_CORP_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "W_ADV_CORP_D365_DS"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch_Oracle"
		},
		"annotations": []
	}
}