pipeline/W_CUSTUMER_D365_DS.json
{
	"name": "W_CUSTUMER_D365_DS",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "End Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlTestStagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sql To Oracle",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000,
						"preCopyScript": "truncate table sa_d365_svil.W_CUSTUMER_D365_DS"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ntv_notes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_cdcexpireson",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_FINE_CLUB",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_cdcregisteredon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_INIZIO_CLUB",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_iscdc",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FLG_CLUB",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_customernumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODICE_CLIENTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "lastname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COGNOME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "firstname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATO_FIDELIZZAZIONE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_acquisitionchannelcode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CANALE_ACQUISIZIONE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SinkCreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_CREAZIONE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_iscreditcardprofiled",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FLG_PROFILO_CC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_ispmr",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FLG_PMR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_employeeid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "FLG_DIPENDENTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_viptypecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TIPOLOGIA_VIP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_isambassador",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FLG_AMBASSADOR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_professioncode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PROFESSIONE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_commercialsectorcode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SETTORE_ATTIVITA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_preferredcontacttypecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "METODO_CONT_PRIV",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_preferredpaymenttypecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "METODO_PAG_PRIV",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_travelreasoncode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MOTIVAZIONI_VIAG",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_preferredtransportmean",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TRASPORTO_ABITUALE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_preferredclasscode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PREFERENZA_AMBIENTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_preferredfarecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PREFERENZA_CLAS_TARIFFA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_preferredmealcode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PREFERENZA_PASTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_preferredmovietypecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PREFERENZA_CINEMA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_languagecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LINGUA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_messagingcontact",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CONTATTO_MESS_NTV",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "emailaddress1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EMAIL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "telephone1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TEL_FISSO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mobilephone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TEL_MOBILE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_consentprofilation",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FLG_CONSENSO_PROFILAZIONE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_consentmarketinginfo",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FLG_CONSENSO_MARKETING",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_segmentcode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SEGMENTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "gendercode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SESSO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "birthdate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_NASCITA",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_customerclusterid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CLUSTER_PROMOZIONI",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_customerinvitation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODICE_INVITO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_thirdpartyconsent",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FLG_CONSENSO_TERZE_PARTI",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_thirdpartyupdatedon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_AGG_CONS_TERZE_PARTI",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_callclusterid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CLUSTER_CHIAMATA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_callclustervalue",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "VALORE_CHIAMATA_CLIENTE",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ntv_callclusterupdatedon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_AGG_CLUSTER_CHIAM",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_callpromotions",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PROMOZIONI_CC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_marketingupdatedon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_AGG_CONS_MARK",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ntv_profilationupdatedon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_AGG__CONS_PROF",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_AGGIORNAMENTO",
									"type": "DateTime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "W_CUSTUMER_SQLSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "W_Customer_OracleDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Start Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.iniziasync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_Customer_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.finesync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_Customer_OracleDB",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "W_CUSTUMER_D365_DS"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch_Oracle"
		},
		"annotations": []
	}
}