pipeline/W_ORDINI_D365_DS_TEST.json
{
	"name": "W_ORDINI_D365_DS_TEST",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Test_StagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "End Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Test_StagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sql To Oracle",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Ultima Sinc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM batchSync.v_W_ORDINI_D365_DS WHERE modifiedon>',\n'''',activity('Ultima Sinc').output.firstRow.Rec,'''',\n' or ass_modifiedon>',\n'''',activity('Ultima Sinc').output.firstRow.Rec,'''',\n' or a_modifiedon>',\n'''',activity('Ultima Sinc').output.firstRow.Rec,'''',\n' or o_modifiedon>',\n'''',activity('Ultima Sinc').output.firstRow.Rec,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 1000000,
						"preCopyScript": "truncate table sa_d365_test.W_ORDINI_D365_DS"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "NUMERO_ORDINE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NUMERO_ORDINE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "INTEGRAZIONE_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "INTEGRAZIONE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TIPO_ORDINE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TIPO_ORDINE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "STATO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "STATO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DATA_ORDINE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_ORDINE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DATA_CHIUSURA",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_CHIUSURA",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "PROVENIENZA_ORDINE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PROVENIENZA_ORDINE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PNR_PAGAMENTO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PNR_PAGAMENTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PREZZO_TOTALE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 38
								},
								"sink": {
									"name": "PREZZO_TOTALE",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NOME_PRODOTTO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOME_PRODOTTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TIPO_PRODOTTO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TIPO_PRODOTTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CLIENTE_ACQUIRENTE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CLIENTE_ACQUIRENTE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TIPO_ACQUIRENTE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TIPO_ACQUIRENTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ADVCORP_ACQUIRENTE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADVCORP_ACQUIRENTE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ADVCORP_INTESTATARIO_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADVCORP_INTESTATARIO_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ASSET_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASSET_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IVA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 38
								},
								"sink": {
									"name": "IVA",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NUMERO_COUPON",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NUMERO_COUPON",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NOTE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AMBIENTE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AMBIENTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CLIENTE_INTESTATARIO_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CLIENTE_INTESTATARIO_ID",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TEST_W_ORDINI_D365_DS_SQLSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TEST_W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Start Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_test.iniziasync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TEST_W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_test.finesync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TEST_W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Error End Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Oracle",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_test.errore_sync (''',\nvariables('TableName'),\n''',''',variables('Error'),''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TEST_W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Error Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error End Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[ErrorBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errore": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"Modulo": {
							"value": "Copy Data Sql To Oracle",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzSqlOracle_Test_StagingArea",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ultima Sinc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select TO_CHAR(max(dt_ultima_sinc) - 4/24,''YYYY/MM/DD HH24:mi:ss'') as Rec from w_sincronizzazione_d365_log where UPPER(stato_lettura)=''COMPLETATO''')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TEST_W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "W_ORDINI_D365_DS"
			},
			"Error": {
				"type": "String",
				"defaultValue": "@pipeline().RunId"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch_Oracle_Test"
		},
		"annotations": []
	}
}