pipeline/W_ORDINI_D365_DS.json
{
	"name": "W_ORDINI_D365_DS",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "End Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sql To Oracle",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Ultima Sinc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT ntv_ntv_order.ntv_ordernumber AS NUMERO_ORDINE, ntv_ntv_order.Id AS INTEGRAZIONE_ID, \"Acquisto Prodotto\" AS TIPO_ORDINE, ntv_ntv_order.statuscode AS STATO, ntv_ntv_order.createdon AS DATA_ORDINE, ntv_ntv_order.ntv_closuredate AS DATA_CHIUSURA, ntv_ntv_order.ntv_originchannelcode AS PROVENIENZA_ORDINE, ntv_ntv_order.ntv_recordlocator AS PNR_PAGAMENTO,    ntv_ntv_order.ntv_grossamount AS PREZZO_TOTALE, ntv_ntv_order.ntv_ordernumber AS NOME_PRODOTTO, ntv_ntv_order.ntv_producttype AS TIPO_PRODOTTO, ntv_ntv_order.ntv_customerbuyerid AS CLIENTE_ACQUIRENTE_ID, ntv_ntv_order.ntv_buyertype AS TIPO_ACQUIRENTE, ntv_account.accountnumber AS ADVCORP_ACQUIRENTE_ID, ntv_account.accountnumber AS ADVCORP_INTESTATARIO_ID, ntv_ntv_asset.ntv_assetnumber AS ASSET_ID, ntv_ntv_order.ntv_iva AS IVA, ntv_ntv_order.ntv_productname AS NOTE, ntv_contact.ntv_customernumber AS CLIENTE_INTESTATARIO_ID FROM   ntv_ntv_order INNER JOIN  ntv_account ON ntv_ntv_order.Id = ntv_account.Id AND ntv_ntv_order.ntv_partnerbuyerid = ntv_account.accountid AND ntv_ntv_order.ntv_partnerholderid = ntv_account.accountid INNER JOIN  ntv_ntv_asset ON ntv_ntv_order.ntv_ordernumber = ntv_ntv_asset.ntv_ordernumber INNER JOIN ntv_contact ON ntv_ntv_order.ntv_customerholderid = ntv_contact.contactid WHERE ntv_contact.modifiedon>',\n'''',activity('Ultima Sinc').output.firstRow.Rec,'''',\n' or ntv_ntv_order.modifiedon>',\n'''',activity('Ultima Sinc').output.firstRow.Rec,'''',\n' or ntv_ntv_asset.modifiedon>',\n'''',activity('Ultima Sinc').output.firstRow.Rec,'''',\n' or ntv_account.modifiedon>',\n'''',activity('Ultima Sinc').output.firstRow.Rec,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000,
						"preCopyScript": "truncate table sa_d365_svil.W_ORDINI_D365_DS"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "NUMERO_ORDINE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NUMERO_ORDINE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "INTEGRAZIONE_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "INTEGRAZIONE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TIPO_ORDINE",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "TIPO_ORDINE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "STATO",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DATA_ORDINE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_ORDINE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DATA_CHIUSURA",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_CHIUSURA",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "PROVENIENZA_ORDINE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PROVENIENZA_ORDINE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PNR_PAGAMENTO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PNR_PAGAMENTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PREZZO_TOTALE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 38
								},
								"sink": {
									"name": "PREZZO_TOTALE",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NOME_PRODOTTO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOME_PRODOTTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TIPO_PRODOTTO",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TIPO_PRODOTTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CLIENTE_ACQUIRENTE_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CLIENTE_ACQUIRENTE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TIPO_ACQUIRENTE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TIPO_ACQUIRENTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ADVCORP_ACQUIRENTE_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ADVCORP_ACQUIRENTE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ADVCORP_INTESTATARIO_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ADVCORP_INTESTATARIO_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ASSET_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASSET_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IVA",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IVA",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NOTE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CLIENTE_INTESTATARIO_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CLIENTE_INTESTATARIO_ID",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "W_ORDINI_D365_DS_SQLSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Start Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.iniziasync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.finesync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Error End Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Oracle",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.errore_sync (''',\nvariables('TableName'),\n''',''',variables('Error'),''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Error Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error End Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[ErrorBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errore": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"Modulo": {
							"value": "Copy Data Sql To Oracle",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ultima Sinc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select dt_inizio_scrittura as Rec from sinc_log where tipo = ','''',\nvariables('TableName'),\n'''',' and UPPER(stato_lettura)=',\n'''',\n'COMPLETATO',\n'''',\n'and ROWNUM <=1 union select ',\n'''',\n'2010-01-01',\n'''',\n' as Rec FROM sinc_log order by Rec desc')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_ORDINI_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "W_ORDINI_D365_DS"
			},
			"Error": {
				"type": "String",
				"defaultValue": "@pipeline().RunId"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch_Oracle"
		},
		"annotations": []
	}
}