pipeline/W_PRATICHE_PAGAMENTO_D365_DS_TEST.json
{
	"name": "W_PRATICHE_PAGAMENTO_D365_DS_TEST",
	"properties": {
		"activities": [
			{
				"name": "Start SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[InizioSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"NomeFile": {
							"value": "",
							"type": "String"
						},
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finally SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "End Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[batchSync].[FineSQL_ORACLEBatchSync]",
					"storedProcedureParameters": {
						"TabellaImport": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sql To Oracle",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000,
						"preCopyScript": "truncate table sa_d365_svil.W_PRATICHE_PAGAMENTO_D365_DS"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "INTEGRAZIONE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_CREAZ_PAGAMENTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_pnrcreationdate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_CREAZ_PNR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_paymentamount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 38
								},
								"sink": {
									"name": "IMPORTO_PAGAMENTO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ntv_pnramount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 38
								},
								"sink": {
									"name": "IMPORTO_PNR",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ntv_iddevice",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DEVICE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_authoritydocumentid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "PRATICA_AUTORITA_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_imei",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IMEI",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_ipaddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_notes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_idpayment",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PAGAMENTO_NAV_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_paymentstatus",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STATO_PAGAMENTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_pnr",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PNR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_paymentmethod",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TIPO_PAGAMENTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_cardowner",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TITOLARE_CARTA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_paypalidtext",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PAYPAL_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_accountnumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NUMERO_CONTO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_channel",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CANALE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_merchantcodetext",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODICE_COMMERCIANTE_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ntv_paymentdate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_PAGAMENTO",
									"type": "DateTime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "W_PRATICHE_PAGAMENTO_D365_DS_SQLSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "W_PRATICHE_PAGAMENTO_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Start Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.iniziasync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_PRATICHE_PAGAMENTO_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "End Oracle",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Sql To Oracle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT sa_d365_svil.finesync (''',\nvariables('TableName'),\n''') FROM DUAL;')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "W_PRATICHE_PAGAMENTO_D365_DS_OracleDB",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "W_PRATICHE_PAGAMENTO_D365_DS"
			}
		},
		"folder": {
			"name": "Az_IntegrazioniBatch_Oracle"
		},
		"annotations": []
	}
}